/* COLORES TRASNPARENTES */
/* COLORES NORMALES */
/* COLORES BOTONES */
/* COLORES NEON */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Prompt", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
  /* background-color: $color-btn1; */
}

body::-webkit-scrollbar-thumb {
  background: #8497af;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #a0b1c7;
}

body {
  /* height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to left top, $color-5, $color-1); */
  background-image: url(../../img/fondodepantalla.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*     background-attachment: inherit; */
  height: 100%;
  width: 100%;
  /* .animacion1 {
      height: 50rem;
      width: 50rem;
      position: absolute;
      clip-path: polygon(0 100%, 0 0, 20% 11%, 26% 36%, 55% 44%, 67% 74%, 91% 81%, 100% 100%);



      animation: fondoa 1s linear infinite;
  }
  .animacion2 {
      height: 50rem;
      width: 50rem;
      position: absolute;
      clip-path: polygon(100% 0, 100% 100%, 81% 92%, 74% 72%, 57% 68%, 54% 47%, 34% 44%, 27% 21%, 8% 15%, 0 0);



      animation: fondoa 1s linear infinite;
  }
  .ani1 {
      background-color: #342c0b;
      height: 100%;
      width: 100%;
      bottom: 0;
  }
  .ani2 {
      background-color: #bf761f;
      height: 80%;
      width: 80%;
      left: 0;
      bottom: 0;
  }
  .ani3 {
      background-color: $color-neon-3;
      height: 60%;
      width: 60%;
      left: 0;
      bottom: 0;
  }
  .ani4 {
      background-color: $color-neon-4;
      height: 30%;
      width: 30%;
      left: 0;
      bottom: 0;
  }
  .ani5 {
      background-color: rgb(183, 0, 255);
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
  }
  .ani6 {
      background-color: rgb(255, 217, 0);
      height: 80%;
      width: 80%;
      top: 0;
      right: 0;
  }
  .ani7 {
      background-color: rgb(255, 102, 0);
      height: 60%;
      width: 60%;
      top: 0;
      right: 0;
  }
  .ani8 {
      background-color: rgba(0, 255, 221, 0.994);
      height: 30%;
      width: 30%;
      top: 0;
      right: 0;
  }
  .ani {
      background-color: rgba(255, 255, 255, 0.385);
      height: 100%;
      width: 100%;
      position: absolute;
      backdrop-filter: blur(15px);
      filter: contrast(100);
  }

  @keyframes fondoa {
      0% {

      }
      50% {

      }
      100% {

      }
  } */
}
body .opacidad-fondo {
  background-color: #5f5f5f2f;
  padding: 2% 3%;
  height: 100%;
  width: 100%;
}
body .opacidad-fondo .margen {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  /* HEREDA OPACIDAD PARA TODO  */
  border-radius: 2rem;
  position: relative;
  background-color: #33333354;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  border: 2px solid rgba(163, 163, 163, 0.549);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
header .logo {
  padding: 0 1rem;
  background-color: red;
  /* margin: auto; */
  margin: 1rem;
}
header .menu-movil img {
  display: none;
  position: relative;
  z-index: 50;
}
header .menu-movil .menu-interno {
  height: 100%;
  width: 100%;
  background-color: blue;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-clip-path: circle(0% at 100% 0%);
          clip-path: circle(0% at 100% 0%);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 30;
  border-radius: 2rem;
}
header .menu-movil .menu-interno-activo {
  -webkit-clip-path: circle(500% at 100% 0%);
          clip-path: circle(500% at 100% 0%);
}
header ul {
  display: inline-block;
  height: 2.5rem;
}
header ul li {
  display: inline-block;
}
header ul li a {
  color: #7c7c7c;
  font-size: 1.8rem;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 100%;
  width: 100%;
  padding: 1.3rem;
}
header ul li a:hover {
  color: white;
  border: 2px solid white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
@media (max-width: 760px) {
  header ul {
    display: none;
  }
  header .menu-movil img {
    display: block;
    height: 3rem;
    width: 3rem;
    margin: 0 0 0 93%;
    position: relative;
    left: 0;
  }
}

main {
  position: relative;
  /* .contenedor {
      height: 10rem;
      width: 10rem;
      background-color: #0000ff00;
      position: absolute;
      z-index: 5;
      left: 70%;
      bottom: 200px;

      transition: 1s;
      animation: mover 10s linear infinite;
  }
  .main-animacion {
      height: 5rem;
      width: 5rem;
      background-color: red;

      border-radius: 50%;

  }

  .prender {

      background-color: #0000ff;

  }

  .main-color1 {

      animation: main-color1 1s linear infinite;
  }
  .main-color2 {
      animation: main-color2 1s linear infinite;
  }
  .main-color3 {
      animation: main-color3 1s linear infinite;
  }
  .main-color4 {
      animation: main-color4 1s linear infinite;
  }
  .main-color5 {
      animation: main-color5 1s linear infinite;
  }
  .main-color6 {
      animation: main-color6 1s linear infinite;
  }


  .main:hover ~ .main-animacion2 {
      background-color: rgb(255, 255, 255);
      animation: burbujas 1s linear infinite;
  }
  @keyframes mover {
      0% {
          left: 0%;
      }
      50% {
          left: 100%;
      }
      100% {
          left: 0;
      }
  }
  @keyframes main-color1 {
      0% {
          background-color: #ff0000;
      }
      50% {
          background-color: #ffffff;
      }
      100% {
          background-color: #ff0000;
      }
  }
  @keyframes main-color2 {
      0% {
          background-color: #ff7b00;
      }
      50% {
          background-color: #ffffff;
      }
      100% {
          background-color: #ff7b00;
      }
  }
  @keyframes main-color3 {
      0% {
          background-color: #00ffd0;
      }
      50% {
          background-color: #ffffff;
      }
      100% {
          background-color: #00ffd0;
      }
  }
  @keyframes main-color4 {
      0% {
          background-color: #003cff;
      }
      50% {
          background-color: #ffffff;
      }
      100% {
          background-color: #003cff;
      }
  }
  @keyframes main-color5 {
      0% {
          background-color: #c300ff;
      }
      50% {
          background-color: #ffffff;
      }
      100% {
          background-color: #c300ff;
      }
  }
  @keyframes main-color6 {
      0% {
          background-color: #ff00e1;
      }
      50% {
          background-color: #ffffff;
      }
      100% {
          background-color: #ff00e1;
      }
  } */
}
main .main {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 4rem;
  /* background-color: red; */
  /* tablet */
}
main .main .main-tar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(4rem, 10rem))[4];
  grid-template-rows: repeat(4, minmax(4rem, 10rem));
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  /* display: flex; */
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* tablet */
}
main .main .main-tar > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
main .main .main-tar > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
main .main .main-tar > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
main .main .main-tar > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
main .main .main-tar > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
main .main .main-tar > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
main .main .main-tar > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
main .main .main-tar > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
main .main .main-tar > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
main .main .main-tar > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
main .main .main-tar > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
main .main .main-tar > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
main .main .main-tar > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
main .main .main-tar > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
main .main .main-tar > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
main .main .main-tar > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
main .main .main-tar > *:nth-child(17) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
main .main .main-tar > *:nth-child(18) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
main .main .main-tar > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
main .main .main-tar > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}
main .main .main-tar .sobre-mi {
  /* display: inline-block; */
  /* width: 100%; */
  /* width: 80%; */
  height: 100%;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  /* background-color: red; */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(1rem, 5rem))[8];
  grid-template-rows: repeat(8, minmax(1rem, 5rem));
  -ms-grid-columns: (1fr)[8];
  grid-template-columns: repeat(8, 1fr);
  /* height: 20rem; */
  border-radius: 2rem;
  background-color: #dee8f4;
  -webkit-box-shadow: 13px 15px 18px 0px #c9d4e6, -8px -8px 10px 3px #f0f5fb;
          box-shadow: 13px 15px 18px 0px #c9d4e6, -8px -8px 10px 3px #f0f5fb;
  /* position: relative; */
}
main .main .main-tar .sobre-mi > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
main .main .main-tar .sobre-mi > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
main .main .main-tar .sobre-mi > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
main .main .main-tar .sobre-mi > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
main .main .main-tar .sobre-mi > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
main .main .main-tar .sobre-mi > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}
main .main .main-tar .sobre-mi > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
main .main .main-tar .sobre-mi > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}
main .main .main-tar .sobre-mi > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
main .main .main-tar .sobre-mi > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
main .main .main-tar .sobre-mi > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
main .main .main-tar .sobre-mi > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
main .main .main-tar .sobre-mi > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
main .main .main-tar .sobre-mi > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}
main .main .main-tar .sobre-mi > *:nth-child(15) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}
main .main .main-tar .sobre-mi > *:nth-child(16) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
}
main .main .main-tar .sobre-mi > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
main .main .main-tar .sobre-mi > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
main .main .main-tar .sobre-mi > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
main .main .main-tar .sobre-mi > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
main .main .main-tar .sobre-mi > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
main .main .main-tar .sobre-mi > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}
main .main .main-tar .sobre-mi > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
main .main .main-tar .sobre-mi > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}
main .main .main-tar .sobre-mi > *:nth-child(25) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
main .main .main-tar .sobre-mi > *:nth-child(26) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
main .main .main-tar .sobre-mi > *:nth-child(27) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
main .main .main-tar .sobre-mi > *:nth-child(28) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
main .main .main-tar .sobre-mi > *:nth-child(29) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}
main .main .main-tar .sobre-mi > *:nth-child(30) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}
main .main .main-tar .sobre-mi > *:nth-child(31) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}
main .main .main-tar .sobre-mi > *:nth-child(32) {
  -ms-grid-row: 4;
  -ms-grid-column: 8;
}
main .main .main-tar .sobre-mi > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
main .main .main-tar .sobre-mi > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
main .main .main-tar .sobre-mi > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
main .main .main-tar .sobre-mi > *:nth-child(36) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}
main .main .main-tar .sobre-mi > *:nth-child(37) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
main .main .main-tar .sobre-mi > *:nth-child(38) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}
main .main .main-tar .sobre-mi > *:nth-child(39) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
main .main .main-tar .sobre-mi > *:nth-child(40) {
  -ms-grid-row: 5;
  -ms-grid-column: 8;
}
main .main .main-tar .sobre-mi > *:nth-child(41) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}
main .main .main-tar .sobre-mi > *:nth-child(42) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}
main .main .main-tar .sobre-mi > *:nth-child(43) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}
main .main .main-tar .sobre-mi > *:nth-child(44) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}
main .main .main-tar .sobre-mi > *:nth-child(45) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}
main .main .main-tar .sobre-mi > *:nth-child(46) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}
main .main .main-tar .sobre-mi > *:nth-child(47) {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
}
main .main .main-tar .sobre-mi > *:nth-child(48) {
  -ms-grid-row: 6;
  -ms-grid-column: 8;
}
main .main .main-tar .sobre-mi > *:nth-child(49) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
main .main .main-tar .sobre-mi > *:nth-child(50) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}
main .main .main-tar .sobre-mi > *:nth-child(51) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
main .main .main-tar .sobre-mi > *:nth-child(52) {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
}
main .main .main-tar .sobre-mi > *:nth-child(53) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
main .main .main-tar .sobre-mi > *:nth-child(54) {
  -ms-grid-row: 7;
  -ms-grid-column: 6;
}
main .main .main-tar .sobre-mi > *:nth-child(55) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}
main .main .main-tar .sobre-mi > *:nth-child(56) {
  -ms-grid-row: 7;
  -ms-grid-column: 8;
}
main .main .main-tar .sobre-mi > *:nth-child(57) {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
}
main .main .main-tar .sobre-mi > *:nth-child(58) {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
}
main .main .main-tar .sobre-mi > *:nth-child(59) {
  -ms-grid-row: 8;
  -ms-grid-column: 3;
}
main .main .main-tar .sobre-mi > *:nth-child(60) {
  -ms-grid-row: 8;
  -ms-grid-column: 4;
}
main .main .main-tar .sobre-mi > *:nth-child(61) {
  -ms-grid-row: 8;
  -ms-grid-column: 5;
}
main .main .main-tar .sobre-mi > *:nth-child(62) {
  -ms-grid-row: 8;
  -ms-grid-column: 6;
}
main .main .main-tar .sobre-mi > *:nth-child(63) {
  -ms-grid-row: 8;
  -ms-grid-column: 7;
}
main .main .main-tar .sobre-mi > *:nth-child(64) {
  -ms-grid-row: 8;
  -ms-grid-column: 8;
}
main .main .main-tar .sobre-mi .tarjeta {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  padding: 1.5rem 1rem 1rem 1rem;
  /* background-color: red; */
}
main .main .main-tar .sobre-mi .tarjeta span {
  font-size: 1.3rem;
  /* background-color: red; */
}
main .main .main-tar .sobre-mi .tarjeta h1 {
  font-size: 2.5rem;
}
main .main .main-tar .sobre-mi .tarjeta p {
  font-size: 1.5rem;
}
main .main .main-tar .sobre-mi .tarjeta .h42 {
  display: none;
}
main .main .main-tar .sobre-mi .btn-tar {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3/9;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7/9;
  /* background-color: blue; */
  margin: auto;
  /* padding: 1.5rem 1rem 1rem 1rem; */
  /* position: absolute;
  bottom: 0.4rem;
  right: calc(50% - 45%); */
}
main .main .main-tar .sobre-mi .btn-tar .boton-cv {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem;
  margin-left: 1rem;
  color: #f0f5fb;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#ea7e2b), to(#f7a771));
  background-image: linear-gradient(to left top, #ea7e2b, #f7a771);
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0 0 0 #ea7e2b66;
          box-shadow: 0 0 0 0 #ea7e2b66;
}
main .main .main-tar .sobre-mi .btn-tar .boton-cont {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem;
  margin-right: 0.5rem;
  color: #f0f5fb;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#ea7e2b), to(#f7a771));
  background-image: linear-gradient(to left top, #ea7e2b, #f7a771);
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0 0 0 #ea7e2b66;
          box-shadow: 0 0 0 0 #ea7e2b66;
  -webkit-animation: pulseAnim 2s infinite;
          animation: pulseAnim 2s infinite;
}
@-webkit-keyframes pulseAnim {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ea7e2b66;
            box-shadow: 0 0 0 0 #ea7e2b66;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px #ea7e2b00;
            box-shadow: 0 0 0 10px #ea7e2b00;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #ea7e2b00;
            box-shadow: 0 0 0 0 #ea7e2b00;
  }
}
@keyframes pulseAnim {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ea7e2b66;
            box-shadow: 0 0 0 0 #ea7e2b66;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px #ea7e2b00;
            box-shadow: 0 0 0 10px #ea7e2b00;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #ea7e2b00;
            box-shadow: 0 0 0 0 #ea7e2b00;
  }
}
main .main .main-tar .sobre-mi div {
  position: relative;
  height: auto;
  width: auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6/9;
}
main .main .main-tar .sobre-mi div .sobre-mi-animacion1 {
  height: 5rem;
  width: 5rem;
  border-radius: 0% 100% 47% 40%/0% 100% 0% 40%;
  position: absolute;
  bottom: 0;
  border-top: 0px solid red;
  border-right: 0px solid red;
  background: linear-gradient(229deg, #ae55d7, #cf98de, #7bafda, rgba(133, 10, 10, 0.638));
  background-size: 800% 800%;
  -webkit-animation: a 25s linear infinite;
          animation: a 25s linear infinite;
}
@-webkit-keyframes a {
  0% {
    border-radius: 0% 100% 47% 40%/0% 50% 0% 40%;
    background-position: 93% 0%;
  }
  50% {
    background-position: 0% 100%;
    border-radius: 0% 50% 47% 40%/0% 100% 0% 40%;
  }
  100% {
    background-position: 93% 0%;
    border-radius: 0% 100% 47% 40%/0% 50% 0% 40%;
  }
}
@keyframes a {
  0% {
    border-radius: 0% 100% 47% 40%/0% 50% 0% 40%;
    background-position: 93% 0%;
  }
  50% {
    background-position: 0% 100%;
    border-radius: 0% 50% 47% 40%/0% 100% 0% 40%;
  }
  100% {
    background-position: 93% 0%;
    border-radius: 0% 100% 47% 40%/0% 50% 0% 40%;
  }
}
main .main .main-tar .sobre-mi div .sobre-mi-animacion2 {
  height: 5.3rem;
  width: 5.3rem;
  border-radius: 0% 100% 47% 40%/0% 100% 0% 40%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ae55d7;
  border-right: 1px solid rgba(133, 10, 10, 0.638);
  /* border: 10px solid transparent;

  border-image: linear-gradient(229deg, 
  rgba(174,85,215,1) , 
  rgba(207,152,222,1) , 
  rgba(123,175,218,1) , 
  rgba(133, 10, 10, 0.638));
  background-size: 800% 800%; */
  -webkit-animation: a1 25s linear infinite;
          animation: a1 25s linear infinite;
}
main .main .main-tar .sobre-mi div .sobre-mi-animacion3 {
  height: 5.8rem;
  width: 5.8rem;
  border-radius: 0% 100% 47% 40%/0% 100% 0% 40%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ae55d7;
  border-right: 1px solid rgba(133, 10, 10, 0.638);
  /* border: 10px solid transparent;

  border-image: linear-gradient(229deg, 
  rgba(174,85,215,1) , 
  rgba(207,152,222,1) , 
  rgba(123,175,218,1) , 
  rgba(133, 10, 10, 0.638));
  background-size: 800% 800%; */
  -webkit-animation: a1 25s linear infinite;
          animation: a1 25s linear infinite;
}
main .main .main-tar .sobre-mi div .sobre-mi-animacion4 {
  height: 7rem;
  width: 7rem;
  border-radius: 0% 100% 47% 40%/0% 100% 0% 40%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ae55d7;
  border-right: 1px solid rgba(133, 10, 10, 0.638);
  /* border: 10px solid transparent;

  border-image: linear-gradient(229deg, 
  rgba(174,85,215,1) , 
  rgba(207,152,222,1) , 
  rgba(123,175,218,1) , 
  rgba(133, 10, 10, 0.638));
  background-size: 800% 800%; */
  -webkit-animation: a1 25s linear infinite;
          animation: a1 25s linear infinite;
}
@-webkit-keyframes a1 {
  0% {
    border-top: 1px solid #ae55d7;
    border-right: 1px solid #cf98de;
    border-radius: 0% 100% 47% 40%/0% 50% 0% 40%;
    background-position: 93% 0%;
  }
  50% {
    border-top: 1px solid #7bafda;
    border-right: 1px solid rgba(187, 75, 75, 0.638);
    background-position: 0% 100%;
    border-radius: 0% 50% 47% 40%/0% 100% 0% 40%;
  }
  100% {
    border-top: 1px solid #ae55d7;
    border-right: 1px solid #cf98de;
    background-position: 93% 0%;
    border-radius: 0% 100% 47% 40%/0% 50% 0% 40%;
  }
}
@keyframes a1 {
  0% {
    border-top: 1px solid #ae55d7;
    border-right: 1px solid #cf98de;
    border-radius: 0% 100% 47% 40%/0% 50% 0% 40%;
    background-position: 93% 0%;
  }
  50% {
    border-top: 1px solid #7bafda;
    border-right: 1px solid rgba(187, 75, 75, 0.638);
    background-position: 0% 100%;
    border-radius: 0% 50% 47% 40%/0% 100% 0% 40%;
  }
  100% {
    border-top: 1px solid #ae55d7;
    border-right: 1px solid #cf98de;
    background-position: 93% 0%;
    border-radius: 0% 100% 47% 40%/0% 50% 0% 40%;
  }
}
main .main .main-tar img {
  height: 100%;
  width: 100%;
  text-align: center;
  /* background-color: red; */
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
}
@media (min-width: 760px) {
  main .main .main-tar .sobre-mi {
    height: 100%;
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  main .main .main-tar .sobre-mi .tarjeta .h41 {
    display: none;
  }
  main .main .main-tar .sobre-mi .tarjeta .h42 {
    display: block;
  }
  main .main .main-tar img {
    height: 100%;
    width: 100%;
    text-align: center;
    /* background-color: red; */
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
}
@media (min-width: 1000px) {
  main .main .main-tar {
    -ms-grid-rows: (minmax(4rem, 10rem))[2];
    grid-template-rows: repeat(2, minmax(4rem, 10rem));
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr);
  }
  main .main .main-tar > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  main .main .main-tar > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  main .main .main-tar > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  main .main .main-tar > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  main .main .main-tar > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  main .main .main-tar > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
  }
  main .main .main-tar > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  main .main .main-tar > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  main .main .main-tar > *:nth-child(9) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  main .main .main-tar > *:nth-child(10) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  main .main .main-tar > *:nth-child(11) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  main .main .main-tar > *:nth-child(12) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
  main .main .main-tar > *:nth-child(13) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
  }
  main .main .main-tar > *:nth-child(14) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
  }
  main .main .main-tar .sobre-mi {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    /* display: none; */
  }
  main .main .main-tar .sobre-mi .tarjeta .h42 {
    display: block;
  }
  main .main .main-tar img {
    /* display: none; */
    /*                 height: 100%;
                width: 100%; */
    text-align: center;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5/8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}
main .main .main-proyectos {
  background-color: #ffffffee;
  border-radius: 0.7rem;
  border: 1rem solid #ffffffe0;
  margin-top: 4rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: relative;
  z-index: 50;
}
main .main .main-proyectos h2 {
  font-size: 2.5rem;
}
main .main .main-proyectos h3 {
  font-size: 2rem;
  margin-top: 3rem;
}
main .main .main-proyectos div {
  display: inline-block;
  height: 0.2rem;
  width: 100%;
  background-color: #cfdae9;
}
main .main .main-proyectos ul {
  height: auto;
  width: 90%;
  margin: 1rem auto 0 auto;
}
main .main .main-proyectos ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (auto)[4];
  grid-template-rows: repeat(4, auto);
  list-style: none;
}
main .main .main-proyectos ul li > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
main .main .main-proyectos ul li > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
main .main .main-proyectos ul li > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
main .main .main-proyectos ul li > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
main .main .main-proyectos ul li > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
main .main .main-proyectos ul li > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}
main .main .main-proyectos ul li > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
main .main .main-proyectos ul li > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}
main .main .main-proyectos ul li > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
main .main .main-proyectos ul li > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}
main .main .main-proyectos ul li > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
main .main .main-proyectos ul li > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
main .main .main-proyectos ul li > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
main .main .main-proyectos ul li > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
main .main .main-proyectos ul li > *:nth-child(15) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
main .main .main-proyectos ul li > *:nth-child(16) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}
main .main .main-proyectos ul li > *:nth-child(17) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}
main .main .main-proyectos ul li > *:nth-child(18) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
}
main .main .main-proyectos ul li > *:nth-child(19) {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
}
main .main .main-proyectos ul li > *:nth-child(20) {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
}
main .main .main-proyectos ul li > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
main .main .main-proyectos ul li > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
main .main .main-proyectos ul li > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
main .main .main-proyectos ul li > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
main .main .main-proyectos ul li > *:nth-child(25) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
main .main .main-proyectos ul li > *:nth-child(26) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}
main .main .main-proyectos ul li > *:nth-child(27) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
main .main .main-proyectos ul li > *:nth-child(28) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}
main .main .main-proyectos ul li > *:nth-child(29) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}
main .main .main-proyectos ul li > *:nth-child(30) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}
main .main .main-proyectos ul li > *:nth-child(31) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
main .main .main-proyectos ul li > *:nth-child(32) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
main .main .main-proyectos ul li > *:nth-child(33) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
main .main .main-proyectos ul li > *:nth-child(34) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
main .main .main-proyectos ul li > *:nth-child(35) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}
main .main .main-proyectos ul li > *:nth-child(36) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}
main .main .main-proyectos ul li > *:nth-child(37) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}
main .main .main-proyectos ul li > *:nth-child(38) {
  -ms-grid-row: 4;
  -ms-grid-column: 8;
}
main .main .main-proyectos ul li > *:nth-child(39) {
  -ms-grid-row: 4;
  -ms-grid-column: 9;
}
main .main .main-proyectos ul li > *:nth-child(40) {
  -ms-grid-row: 4;
  -ms-grid-column: 10;
}
main .main .main-proyectos ul li h4 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  text-align: end;
  font-size: 1.5rem;
}
main .main .main-proyectos ul li p {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6/11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  text-align: end;
  font-size: 1.2rem;
  -ms-grid-row-align: center;
      align-self: center;
  background-color: #a0b1c7;
  border-top: 1rem solid #a0b1c7;
  border-bottom: 1rem solid #a0b1c7;
  border-right: 1rem solid #a0b1c7;
  border-radius: 0.5rem;
  filter: blur(0px) brightness(100%);
  -webkit-filter: blur(0px) brightness(100%);
  -moz-filter: blur(0px) brightness(100%);
}
main .main .main-proyectos ul li .ul1 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  width: 100%;
  text-align: end;
}
main .main .main-proyectos ul li .ul1 li {
  font-size: 0.7rem;
  display: inline-block;
}
main .main .main-proyectos ul li .ul2 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/11;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  width: 100%;
  text-align: end;
}
main .main .main-proyectos ul li .ul2 li {
  font-size: 0.7rem;
  display: inline-block;
}
main .main .main-proyectos ul li .ico {
  height: 3rem;
  width: 3rem;
  background-color: rgba(0, 0, 255, 0);
  background-image: url("../../img/prueba-html-5.svg");
  filter: blur(0px) brightness(100%);
  -webkit-filter: blur(0px) brightness(100%);
  -moz-filter: blur(0px) brightness(100%);
  filter: opacity(0%);
  -webkit-filter: opacity(0%);
  -moz-filter: opacity(0%);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
main .main .main-proyectos ul li .ico1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
main .main .main-proyectos ul li .ico2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
main .main .main-proyectos ul li .ico3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
main .main .main-proyectos ul li img {
  height: 20rem;
  width: 100%;
  list-style: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  border-radius: 0.5rem;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
main .main .main-proyectos ul li img:hover ~ .main-animacion2 {
  background-color: white;
  -webkit-animation: burbujas 1s linear infinite;
          animation: burbujas 1s linear infinite;
}
main .main .main-proyectos ul li img:hover {
  filter: blur(2px) brightness(70%);
  -webkit-filter: blur(2px) brightness(70%);
  -moz-filter: blur(2px) brightness(70%);
}
main .main .main-proyectos ul li img:hover ~ .ico {
  filter: opacity(50%);
  -webkit-filter: opacity(100%);
  -moz-filter: opacity(100%);
}
main .main .main-proyectos .ul-dere li {
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (auto)[4];
  grid-template-rows: repeat(4, auto);
}
main .main .main-proyectos .ul-dere li > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
main .main .main-proyectos .ul-dere li > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
main .main .main-proyectos .ul-dere li > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
main .main .main-proyectos .ul-dere li > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
main .main .main-proyectos .ul-dere li > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
main .main .main-proyectos .ul-dere li > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}
main .main .main-proyectos .ul-dere li > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
main .main .main-proyectos .ul-dere li > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}
main .main .main-proyectos .ul-dere li > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
main .main .main-proyectos .ul-dere li > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}
main .main .main-proyectos .ul-dere li > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
main .main .main-proyectos .ul-dere li > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
main .main .main-proyectos .ul-dere li > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
main .main .main-proyectos .ul-dere li > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
main .main .main-proyectos .ul-dere li > *:nth-child(15) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
main .main .main-proyectos .ul-dere li > *:nth-child(16) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}
main .main .main-proyectos .ul-dere li > *:nth-child(17) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}
main .main .main-proyectos .ul-dere li > *:nth-child(18) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
}
main .main .main-proyectos .ul-dere li > *:nth-child(19) {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
}
main .main .main-proyectos .ul-dere li > *:nth-child(20) {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
}
main .main .main-proyectos .ul-dere li > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
main .main .main-proyectos .ul-dere li > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
main .main .main-proyectos .ul-dere li > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
main .main .main-proyectos .ul-dere li > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
main .main .main-proyectos .ul-dere li > *:nth-child(25) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
main .main .main-proyectos .ul-dere li > *:nth-child(26) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}
main .main .main-proyectos .ul-dere li > *:nth-child(27) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
main .main .main-proyectos .ul-dere li > *:nth-child(28) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}
main .main .main-proyectos .ul-dere li > *:nth-child(29) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}
main .main .main-proyectos .ul-dere li > *:nth-child(30) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}
main .main .main-proyectos .ul-dere li > *:nth-child(31) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
main .main .main-proyectos .ul-dere li > *:nth-child(32) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
main .main .main-proyectos .ul-dere li > *:nth-child(33) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
main .main .main-proyectos .ul-dere li > *:nth-child(34) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
main .main .main-proyectos .ul-dere li > *:nth-child(35) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}
main .main .main-proyectos .ul-dere li > *:nth-child(36) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}
main .main .main-proyectos .ul-dere li > *:nth-child(37) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}
main .main .main-proyectos .ul-dere li > *:nth-child(38) {
  -ms-grid-row: 4;
  -ms-grid-column: 8;
}
main .main .main-proyectos .ul-dere li > *:nth-child(39) {
  -ms-grid-row: 4;
  -ms-grid-column: 9;
}
main .main .main-proyectos .ul-dere li > *:nth-child(40) {
  -ms-grid-row: 4;
  -ms-grid-column: 10;
}
main .main .main-proyectos .ul-dere li h4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: start;
}
main .main .main-proyectos .ul-dere li p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: start;
}
main .main .main-proyectos .ul-dere li .ul1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: start;
}
main .main .main-proyectos .ul-dere li .ul2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  text-align: start;
}
main .main .main-proyectos .ul-dere li .ico1 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
main .main .main-proyectos .ul-dere li .ico2 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-column: 9/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
main .main .main-proyectos .ul-dere li .ico3 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
main .main .main-proyectos .ul-dere li img {
  -ms-grid-column: 5;
  -ms-grid-column-span: 6;
  grid-column: 5/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}
@media (max-width: 760px) {
  main .main .main-proyectos .ul-dere {
    display: none;
  }
  main .main .main-proyectos .ul-iz {
    display: block;
    color: #fff;
  }
  main .main .main-proyectos .ul-iz li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[10];
    grid-template-columns: repeat(10, 1fr);
    -ms-grid-rows: (auto)[5];
    grid-template-rows: repeat(5, auto);
    list-style: none;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(11) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(12) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(13) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(14) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(15) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(16) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(17) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(18) {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(19) {
    -ms-grid-row: 2;
    -ms-grid-column: 9;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(20) {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(21) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(22) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(23) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(24) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(25) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(26) {
    -ms-grid-row: 3;
    -ms-grid-column: 6;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(27) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(28) {
    -ms-grid-row: 3;
    -ms-grid-column: 8;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(29) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(30) {
    -ms-grid-row: 3;
    -ms-grid-column: 10;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(31) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(32) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(33) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(34) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(35) {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(36) {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(37) {
    -ms-grid-row: 4;
    -ms-grid-column: 7;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(38) {
    -ms-grid-row: 4;
    -ms-grid-column: 8;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(39) {
    -ms-grid-row: 4;
    -ms-grid-column: 9;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(40) {
    -ms-grid-row: 4;
    -ms-grid-column: 10;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(41) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(42) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(43) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(44) {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(45) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(46) {
    -ms-grid-row: 5;
    -ms-grid-column: 6;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(47) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(48) {
    -ms-grid-row: 5;
    -ms-grid-column: 8;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(49) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
  }
  main .main .main-proyectos .ul-iz li > *:nth-child(50) {
    -ms-grid-row: 5;
    -ms-grid-column: 10;
  }
  main .main .main-proyectos .ul-iz li h4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    text-align: start;
    font-size: 1.5rem;
    color: #000;
  }
  main .main .main-proyectos .ul-iz li p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    width: 100%;
    text-align: center;
    background-color: #ff000000;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(#000000), to(#00000000));
    background-image: linear-gradient(to top, #000000, #000000, #00000000);
    padding-top: 3rem;
    border: none;
  }
  main .main .main-proyectos .ul-iz li .ul1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    color: #000;
    text-align: start;
  }
  main .main .main-proyectos .ul-iz li .ul2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    color: #000;
    text-align: start;
  }
  main .main .main-proyectos .ul-iz li .ico1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .main .main-proyectos .ul-iz li .ico2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .main .main-proyectos .ul-iz li .ico3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main .main .main-proyectos .ul-iz li img {
    height: 20rem;
    width: 100%;
    list-style: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    border-radius: 0.5rem;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
}
main .main .main-animacion2 {
  height: 91rem;
  width: 80%;
  position: absolute;
  z-index: 5;
  left: calc(50% - 40%);
  bottom: 0px;
  /* background: linear-gradient(179deg, #fba30100, #cf006100, #fb00ff00, #30a8fe00, #00011700); */
  /* background-color: rgba(255, 0, 0, 0); */
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(#d8d8d8), color-stop(#727272), color-stop(#4d4d4d), to(#000000));
  background: linear-gradient(to top, #ffffff, #d8d8d8, #727272, #4d4d4d, #000000);
  /* background: linear-gradient(to top, #fba301, #cf0060, #fb00ff, #30a8fe, #000117); */
  background-size: 1000% 1000%;
  -webkit-animation: mover 40s ease infinite;
          animation: mover 40s ease infinite;
  -webkit-filter: opacity(0%);
          filter: opacity(0%);
  -webkit-transition: 8s;
  transition: 8s;
}
main .main .main-proyectos:hover ~ .main-animacion2 {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(#d8d8d8), color-stop(#727272), color-stop(#4d4d4d), to(#000000));
  background: linear-gradient(to top, #ffffff, #d8d8d8, #727272, #4d4d4d, #000000);
  /* background: linear-gradient(to top, #fba301, #cf0060, #fb00ff, #30a8fe, #000117); */
  background-size: 1000% 1000%;
}
@-webkit-keyframes mover {
  0% {
    background-position: 53% 0%;
    -webkit-clip-path: polygon(88% 99%, 57% 27%, 16% 28%, 33% 5%, 39% 33%, 0 99%, 23% 48%, 24% 19%, 93% 9%, 41% 100%, 88% 71%, 28% 94%, 61% 4%, 100% 75%, 97% 25%, 76% 6%, 9% 25%, 14% 4%, 16% 81%, 97% 6%);
            clip-path: polygon(88% 99%, 57% 27%, 16% 28%, 33% 5%, 39% 33%, 0 99%, 23% 48%, 24% 19%, 93% 9%, 41% 100%, 88% 71%, 28% 94%, 61% 4%, 100% 75%, 97% 25%, 76% 6%, 9% 25%, 14% 4%, 16% 81%, 97% 6%);
  }
  25% {
    background-position: 50% 50%;
    -webkit-clip-path: polygon(37% 80%, 57% 27%, 79% 68%, 73% 97%, 8% 47%, 80% 41%, 97% 90%, 24% 19%, 93% 9%, 94% 55%, 12% 72%, 28% 94%, 61% 4%, 100% 75%, 86% 90%, 76% 6%, 9% 25%, 14% 4%, 92% 96%, 53% 94%);
            clip-path: polygon(37% 80%, 57% 27%, 79% 68%, 73% 97%, 8% 47%, 80% 41%, 97% 90%, 24% 19%, 93% 9%, 94% 55%, 12% 72%, 28% 94%, 61% 4%, 100% 75%, 86% 90%, 76% 6%, 9% 25%, 14% 4%, 92% 96%, 53% 94%);
  }
  50% {
    background-position: 48% 100%;
    -webkit-clip-path: polygon(63% 40%, 54% 79%, 23% 95%, 55% 99%, 1% 16%, 87% 4%, 99% 53%, 24% 19%, 87% 27%, 61% 55%, 88% 71%, 35% 95%, 40% 29%, 93% 100%, 97% 25%, 76% 6%, 2% 36%, 14% 100%, 0 58%, 67% 100%);
            clip-path: polygon(63% 40%, 54% 79%, 23% 95%, 55% 99%, 1% 16%, 87% 4%, 99% 53%, 24% 19%, 87% 27%, 61% 55%, 88% 71%, 35% 95%, 40% 29%, 93% 100%, 97% 25%, 76% 6%, 2% 36%, 14% 100%, 0 58%, 67% 100%);
  }
  75% {
    background-position: 50% 50%;
    -webkit-clip-path: polygon(37% 80%, 57% 27%, 79% 68%, 73% 97%, 8% 47%, 80% 41%, 97% 90%, 24% 19%, 93% 9%, 94% 55%, 12% 72%, 28% 94%, 61% 4%, 100% 75%, 86% 90%, 76% 6%, 9% 25%, 14% 4%, 92% 96%, 53% 94%);
            clip-path: polygon(37% 80%, 57% 27%, 79% 68%, 73% 97%, 8% 47%, 80% 41%, 97% 90%, 24% 19%, 93% 9%, 94% 55%, 12% 72%, 28% 94%, 61% 4%, 100% 75%, 86% 90%, 76% 6%, 9% 25%, 14% 4%, 92% 96%, 53% 94%);
  }
  100% {
    background-position: 53% 0%;
    -webkit-clip-path: polygon(88% 99%, 57% 27%, 16% 28%, 33% 5%, 39% 33%, 0 99%, 23% 48%, 24% 19%, 93% 9%, 41% 100%, 88% 71%, 28% 94%, 61% 4%, 100% 75%, 97% 25%, 76% 6%, 9% 25%, 14% 4%, 16% 81%, 97% 6%);
            clip-path: polygon(88% 99%, 57% 27%, 16% 28%, 33% 5%, 39% 33%, 0 99%, 23% 48%, 24% 19%, 93% 9%, 41% 100%, 88% 71%, 28% 94%, 61% 4%, 100% 75%, 97% 25%, 76% 6%, 9% 25%, 14% 4%, 16% 81%, 97% 6%);
  }
}
@keyframes mover {
  0% {
    background-position: 53% 0%;
    -webkit-clip-path: polygon(88% 99%, 57% 27%, 16% 28%, 33% 5%, 39% 33%, 0 99%, 23% 48%, 24% 19%, 93% 9%, 41% 100%, 88% 71%, 28% 94%, 61% 4%, 100% 75%, 97% 25%, 76% 6%, 9% 25%, 14% 4%, 16% 81%, 97% 6%);
            clip-path: polygon(88% 99%, 57% 27%, 16% 28%, 33% 5%, 39% 33%, 0 99%, 23% 48%, 24% 19%, 93% 9%, 41% 100%, 88% 71%, 28% 94%, 61% 4%, 100% 75%, 97% 25%, 76% 6%, 9% 25%, 14% 4%, 16% 81%, 97% 6%);
  }
  25% {
    background-position: 50% 50%;
    -webkit-clip-path: polygon(37% 80%, 57% 27%, 79% 68%, 73% 97%, 8% 47%, 80% 41%, 97% 90%, 24% 19%, 93% 9%, 94% 55%, 12% 72%, 28% 94%, 61% 4%, 100% 75%, 86% 90%, 76% 6%, 9% 25%, 14% 4%, 92% 96%, 53% 94%);
            clip-path: polygon(37% 80%, 57% 27%, 79% 68%, 73% 97%, 8% 47%, 80% 41%, 97% 90%, 24% 19%, 93% 9%, 94% 55%, 12% 72%, 28% 94%, 61% 4%, 100% 75%, 86% 90%, 76% 6%, 9% 25%, 14% 4%, 92% 96%, 53% 94%);
  }
  50% {
    background-position: 48% 100%;
    -webkit-clip-path: polygon(63% 40%, 54% 79%, 23% 95%, 55% 99%, 1% 16%, 87% 4%, 99% 53%, 24% 19%, 87% 27%, 61% 55%, 88% 71%, 35% 95%, 40% 29%, 93% 100%, 97% 25%, 76% 6%, 2% 36%, 14% 100%, 0 58%, 67% 100%);
            clip-path: polygon(63% 40%, 54% 79%, 23% 95%, 55% 99%, 1% 16%, 87% 4%, 99% 53%, 24% 19%, 87% 27%, 61% 55%, 88% 71%, 35% 95%, 40% 29%, 93% 100%, 97% 25%, 76% 6%, 2% 36%, 14% 100%, 0 58%, 67% 100%);
  }
  75% {
    background-position: 50% 50%;
    -webkit-clip-path: polygon(37% 80%, 57% 27%, 79% 68%, 73% 97%, 8% 47%, 80% 41%, 97% 90%, 24% 19%, 93% 9%, 94% 55%, 12% 72%, 28% 94%, 61% 4%, 100% 75%, 86% 90%, 76% 6%, 9% 25%, 14% 4%, 92% 96%, 53% 94%);
            clip-path: polygon(37% 80%, 57% 27%, 79% 68%, 73% 97%, 8% 47%, 80% 41%, 97% 90%, 24% 19%, 93% 9%, 94% 55%, 12% 72%, 28% 94%, 61% 4%, 100% 75%, 86% 90%, 76% 6%, 9% 25%, 14% 4%, 92% 96%, 53% 94%);
  }
  100% {
    background-position: 53% 0%;
    -webkit-clip-path: polygon(88% 99%, 57% 27%, 16% 28%, 33% 5%, 39% 33%, 0 99%, 23% 48%, 24% 19%, 93% 9%, 41% 100%, 88% 71%, 28% 94%, 61% 4%, 100% 75%, 97% 25%, 76% 6%, 9% 25%, 14% 4%, 16% 81%, 97% 6%);
            clip-path: polygon(88% 99%, 57% 27%, 16% 28%, 33% 5%, 39% 33%, 0 99%, 23% 48%, 24% 19%, 93% 9%, 41% 100%, 88% 71%, 28% 94%, 61% 4%, 100% 75%, 97% 25%, 76% 6%, 9% 25%, 14% 4%, 16% 81%, 97% 6%);
  }
}