.redes-iz {
    /* background-color: red; */
    height: calc(100% - 6.5rem);
    width: 6%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid rgba(163, 163, 163, 0.549);
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}