
div {
    position: relative;
    height: auto;
    width: auto;
    grid-column: 1 / 2;
    grid-row: 6 / 9;
    .sobre-mi-animacion1 {

        height: 5rem;
        width: 5rem;
        border-radius: 0% 100% 47% 40% / 0% 100% 0% 40%;
        position: absolute;
        bottom: 0;
        border-top: 0px solid red;
        border-right: 0px solid red;
    
        background: linear-gradient(229deg, 
        rgba(174,85,215,1) , 
        rgba(207,152,222,1) , 
        rgba(123,175,218,1) , 
        rgba(133, 10, 10, 0.638));
        background-size: 800% 800%;
    
        animation: a 25s linear infinite;
    }
    
    @keyframes a {
        0% {
            border-radius: 0% 100% 47% 40% / 0% 50% 0% 40%;
            background-position:93% 0%;
        }
    
        50% {
            background-position:0% 100%;
            border-radius: 0% 50% 47% 40% / 0% 100% 0% 40%;
        }
    
        100% {
            background-position:93% 0%;
            border-radius: 0% 100% 47% 40% / 0% 50% 0% 40%;
        }
    }
    
    .sobre-mi-animacion2 {

        height: 5.3rem;
        width: 5.3rem;
        border-radius: 0% 100% 47% 40% / 0% 100% 0% 40%;
        position: absolute;
        bottom: 0;
        border-top: 1px solid rgba(174,85,215,1);
        border-right: 1px solid rgba(133, 10, 10, 0.638);
    
        /* border: 10px solid transparent;
        
        border-image: linear-gradient(229deg, 
        rgba(174,85,215,1) , 
        rgba(207,152,222,1) , 
        rgba(123,175,218,1) , 
        rgba(133, 10, 10, 0.638));
        background-size: 800% 800%; */
    
    
        animation: a1 25s linear infinite;
    }
    
    .sobre-mi-animacion3 {

        height: 5.8rem;
        width: 5.8rem;
        border-radius: 0% 100% 47% 40% / 0% 100% 0% 40%;
        position: absolute;
        bottom: 0;
        border-top: 1px solid rgba(174,85,215,1);
        border-right: 1px solid rgba(133, 10, 10, 0.638);
    
        /* border: 10px solid transparent;
        
        border-image: linear-gradient(229deg, 
        rgba(174,85,215,1) , 
        rgba(207,152,222,1) , 
        rgba(123,175,218,1) , 
        rgba(133, 10, 10, 0.638));
        background-size: 800% 800%; */
    
    
        animation: a1 25s linear infinite;
    }
    
    .sobre-mi-animacion4 {
        height: 7rem;
        width: 7rem;
        border-radius: 0% 100% 47% 40% / 0% 100% 0% 40%;
        position: absolute;
        bottom: 0;
        border-top: 1px solid rgba(174,85,215,1);
        border-right: 1px solid rgba(133, 10, 10, 0.638);
    
        /* border: 10px solid transparent;
        
        border-image: linear-gradient(229deg, 
        rgba(174,85,215,1) , 
        rgba(207,152,222,1) , 
        rgba(123,175,218,1) , 
        rgba(133, 10, 10, 0.638));
        background-size: 800% 800%; */
    
    
        animation: a1 25s linear infinite;
    }
    
    @keyframes a1 {
        0% {
            border-top: 1px solid rgba(174,85,215,1);
            border-right: 1px solid rgba(207,152,222,1);
            border-radius: 0% 100% 47% 40% / 0% 50% 0% 40%;
            background-position:93% 0%;
        }
    
        50% {
            border-top: 1px solid rgba(123,175,218,1);
            border-right: 1px solid rgba(187, 75, 75, 0.638);
            background-position:0% 100%;
            border-radius: 0% 50% 47% 40% / 0% 100% 0% 40%;
        }
    
        100% {
            border-top: 1px solid rgba(174,85,215,1);
            border-right: 1px solid rgba(207,152,222,1);
            background-position:93% 0%;
            border-radius: 0% 100% 47% 40% / 0% 50% 0% 40%;
        }
    }
}
