footer {
    color: #fff;
    width: 80%;
    background-color: #00000065;
    margin: 2rem auto 0 auto;
    border-radius: 2rem;
    h2 {
        padding: 2rem 0 0 3rem;
        font-size: 2.5rem;
    }
    p {
        font-size: 1.5rem;
        padding: 0 0 3rem 4rem;
    }
    .contacto {
        display: flex;
        justify-content: space-around;
        padding-bottom: 2rem;
        div {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 1.5rem;
        }
        .numero {

        }
        .email {

        }
        .lugar {

        }
    }
    .redes {
        margin: 0 auto;
        width: 80%;
        padding: 1rem 3rem 1rem 3rem;
        border: 2px solid rgb(255, 255, 255);
        border-bottom: 0;
        border-left: 0;
        border-right: 0;

        display: flex;
        justify-content: space-around;
        
        a {
            img {
                width: 3rem;
                height: 3rem;

            }
        }
        .twitter {

        }
        .github {

        }
        .linkedin {

        }
    }
}