header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    
    border: 2px solid rgba(163, 163, 163, 0.549);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;


    .logo {
        padding: 0 1rem;
        background-color: red;
        /* margin: auto; */
        margin: 1rem;
    }
    .menu-movil {
        img {
            display: none;
            position: relative;
            z-index: 50;
        }
        .menu-interno {
            height: 100%;
            width: 100%;
            background-color: blue;
            position: absolute;
            top: 0;
            right: 0;
            clip-path: circle(0% at 100% 0%);
            transition: 1s;
            z-index: 30;
            border-radius: 2rem;
        }
        .menu-interno-activo {
            clip-path: circle(500% at 100% 0%);
        }

        
    }
    ul {
        display: inline-block;
        height: 2.5rem;
        li {
            display: inline-block;
            a {
                color: rgb(124, 124, 124);
                font-size: 1.8rem;
                text-decoration: none;
                transition: .2s;
                height: 100%;
                width: 100%;
                padding: 1.3rem;
            }
            a:hover {
                color: rgb(255, 255, 255);
                border: 2px solid rgb(255, 255, 255);
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
            }
        }
    }
    @media (max-width: 760px) {
        ul {
            display: none;
        }
        .menu-movil {
            
            img {
                display: block;
                height: 3rem;
                width: 3rem;
                margin: 0 0 0 93%;
                position: relative;
                left:0;

                
                
            }
        }
    }
}