header {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6.5rem;

    border: 2px solid rgba(163, 163, 163, 0.549);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

 

    .logo {
        height: 4rem;
        width: 4rem;
        padding: 0 1rem;
        background-color: red;
        /* margin: auto; */
        margin: 1rem;
    }
    .menu-movil {
        height: auto;
        width: auto;
        img {
            display: none;
            position: relative;
            z-index: 50;
        }
        .menu-interno {
            height: 100%;
            width: 100%;
            /* background-color: rgb(255, 0, 0); */
            position: absolute;
            top: 0;
            right: 0;
            clip-path: circle(0% at 100% 0%);
            transition: 1s;
            z-index: 30;
            border-radius: 2rem;
            display: flex;
            backdrop-filter: blur(15px);
            ul {
                li {
                    
                }
            }
        }
        .menu-interno-activo {
            clip-path: circle(500% at 100% 0%);
        }

        
    }
    .ul-escritorio {
        display: inline-block;
        height: 2.5rem;
        margin-left: 15%;
        li {
            display: inline-block;
            a {
                color: rgb(124, 124, 124);
                font-size: 1.8rem;
                text-decoration: none;
                transition: .2s;
                height: 100%;
                width: 100%;
                border: 2px solid rgba(255, 255, 255, 0);
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                padding: 1.6rem 1.8rem;
            }
            a:hover {
                color: rgb(255, 255, 255);
                border: 2px solid rgb(255, 255, 255);
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
            }
        }
    }
    @media (max-width: 760px) {
        .ul-escritorio {
            display: none;
        }
        .logo {
            margin-right: 40%;
        }
        .menu-movil {
            margin-left: 25%;
            img {
                display: block;
                height: 3rem;
                width: 3rem;
                /* margin: 0 0 0 93%; */
                position: relative;
                left:0;

                
                
            }
        }
    }
}