main {
    position: relative;
    .main {
        width: 80%;
        height: auto;
        margin: 0 auto;
        margin-top: 4rem;
        

        @import "./miterjeta";
    
        @import "./miproyectos";

        @import "./midescripcion";

    }
}




