
/* COLORES TRASNPARENTES */
$color-transparencia-1: #ffffffee;
$color-transparencia-2: #ffffffd2;
$color-transparencia-3: #ffffffcd;
$color-transparencia-4: #ffffffb4;
$color-transparencia-5: #c9d4e698;
$color-transparencia-6: #c0ccdb95;
$color-transparencia-7: #ffffff5d;
$color-transparencia-8: #8497af51;
$color-transparencia-9: #ffffff38;
$color-transparencia-9: #ffffff21;

/* COLORES NORMALES */
$color-1: #f0f5fb;
$color-2: #e8f1f8;
$color-3: #dee8f4;
$color-4: #cfdae9;
$color-5: #c9d4e6;
$color-6: #c0ccdb;
$color-7: #a0b1c7;
$color-8: #8497af;
$color-9: #677688;
/* COLORES BOTONES */
$color-btn1: #f7a771;
$color-btn2: #ea7e2b;

/* COLORES NEON */

$color-neon-1: #fba301;
$color-neon-2: #cf0060;
$color-neon-3: #fb00ff;
$color-neon-4: #30a8fe;
$color-neon-5: #000117;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Prompt', sans-serif;
    
}
