
/* COLORES TRASNPARENTES */
$color-transparencia-1: #f0f5fbaa;
$color-transparencia-2: #e8f1f8;
$color-transparencia-3: #dee8f4;
$color-transparencia-4: #cfdae9;
$color-transparencia-5: #c9d4e6;
$color-transparencia-6: #c0ccdb;
$color-transparencia-7: #a0b1c7;
$color-transparencia-8: #8497af;
$color-transparencia-9: #677688;

/* COLORES NORMALES */
$color-1: #f0f5fb;
$color-2: #e8f1f8;
$color-3: #dee8f4;
$color-4: #cfdae9;
$color-5: #c9d4e6;
$color-6: #c0ccdb;
$color-7: #a0b1c7;
$color-8: #8497af;
$color-9: #677688;
/* COLORES BOTONES */
$color-btn1: #f7a771;
$color-btn2: #ea7e2b;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Prompt', sans-serif;
}

body::-webkit-scrollbar {
	width: 10px;
    /* background-color: $color-btn1; */
}

body::-webkit-scrollbar-thumb {
	background: $color-8;
	border-radius: 5px;
}
