.nav-anima {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $color-5;
    clip-path: circle(0% at 100% 0);
    z-index: 1000;
    transition: .7s ease all;
}

.menu-activo {
    clip-path: circle(200% at 100% 0);
}

.menu {
    clip-path: circle(0% at 100% 0);
}


/* MENU DESPLEGABLE */

.nav-anima ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    li {
        list-style: none;
        margin: 2rem;
        text-align: center;
        a {
            text-decoration: none;
            font-size: 4rem;
            color: $color-1;
        }
    }
}
